$dark-base-color: #051341;
$dark-btn-color: #FF4801;
$dark-font-color: #fff;
$black-font-color: black;
$dark-border-color: #fff;


$font-type: 'Poppins', sans-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
)
